.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.contDiv {
  position:relative;
  height: 270px;
  right:20px;
  left:20px;
}

.calendar {
  position:absolute;
  top:10px;
  right:40px;
  display: inline-block;
  min-height:200px;
}

.buttons {
  min-width:150px;
  width:10%;
  position:absolute;
  bottom:10px;
  left:0px;
}

.buttons > * {
  width: 100%;
}

.dateFilter > * {
  width: 100%;
}

.dateFilter {
  position:absolute;
  bottom:10px;
  left:170px;
  min-width:250px;
  width:20%;
}

.timeFilter {
  position:absolute;
  bottom:10px;
  left:440px;
  min-width:250px;
  width:20%;
}

.timeFilter > * {
  width: 100%;
}

.caloriesExceeded {
  color: red;
}

.caloriesNotExceeded {
  color: green;
}

.btnContainter > * {
  width:48%;
  min-width: 80px;
}
